<mat-toolbar>
  <div class="header-logo">
    <a href="/homepage">
      <img src="../../assets/svg/Logo.svg" alt="Logo" />
    </a>
  </div>
  <span>
    <a routerLink="/homepage"></a>
  </span>
  <span class="spacer"></span>
  <div class="header-transport">

    <a mat-button routerLink="/product">Trung tâm Vận chuyển </a>
  </div>
  <div class="register" >
    <a mat-button routerLink="/auth/signup">Đăng Ký </a>
  </div>
  <div class="space" ></div>
  <div class="login" >
    <a mat-button routerLink="/auth/login">Đăng Nhập</a>
  </div>
</mat-toolbar>
